@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFd2JQEk.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  overflow-x: hidden;
  color: black;
  font-family: "Cantarell";
}
h1 {
  font-family: "cursive";
  background: -webkit-linear-gradient(45deg, #5f2c82, #49a09d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.l {
  font-family: "Poppins";
  background: -webkit-linear-gradient(45deg, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.o {
  font-family: "Calligraphy";
  background: -webkit-linear-gradient(45deg, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
